
<div>Edit</div>
<br />
<div ng-controller="BankEditController">
    <form novalidate role="form" name="frmBank">
        <input type="hidden" ng-model="bank.BankId" />
        <table style="width:400px;">
            <tr>
                <td>Enter Bank Name :</td>
                <td>
                    <input type="text" name="Name" ng-model="bank.Name" class="form-control input-sm" style="width:200px;" required-uniqueaccounttype="{{bank.Name}}" />
                    <span class="help-block" ng-if="frmBank.Name.$error.requiredUniqueaccounttype&& frmBank.Name.$dirty">Bank Name already Present</span>
                    <span class="help-inline" ng-show="BankNameRequired">Enter Bank Name</span>
                 </td>
            </tr>
            <tr>
                <td>Enter IFSC :</td>
                <td>
                    <input type="text" name="IFSC" ng-model="bank.IFSC" class="form-control input-sm" style="width:200px;"  only-digits/>
                    <span class="help-inline" ng-show="IFSCRequired">Enter IFSC Code</span>
                 </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <div style="margin-top:10px;">
                        <input type="submit" class="btn btn-success" ng-click="Save()" value="Save" />
                        <input type="button" class="btn" style="margin-left:10px;" ng-click="Cancel()" value="Cancel" />
                    </div>
                </td>
            </tr>
        </table>
        {{Message}}
    </form>
</div>
